@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

/* Definicion de variables */

:root {
  --fondo: #f5f5f5;
  --blanco: #fff;
  --violeta: rgba(139, 72, 191, 1);
  --violeta-claro: rgba(139, 72, 191, 0.6);
  --celeste: #3cddf3;
  --azul-grisaceo: #1e1e26;
  --azul-oscuro: rgba(36, 46, 82, 1);
  --azul-oscuro-60: rgba(36, 46, 82, 0.6);
  --gris: #b3b2b7;
  --gris-claro: #fafafa;
}

/* Estilos generales */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
}

html {
  background-color: var(--fondo);
}

body {
  max-width: 1440px;
  margin: auto;
  background-color: var(--blanco);
}

a {
  text-decoration: none;
}

p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  color: var(--gris);
}

h1,
h2,
h5 {
  color: var(--azul-oscuro);
  font-weight: 700;
}

h5 {
  font-size: 1rem;
}

/* Algunas clases usadas a lo largo de toda la pagina */

.enlace-estilo-boton {
  background-color: var(--violeta);
  border-radius: 50px;
  padding: 12px 40px;
  color: var(--blanco);
  cursor: pointer;
}

.drop-shadow {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}

.enlace-estilo-boton:visited {
  color: var(--blanco);
}

.enlace-estilo-boton:hover {
  background-color: var(--violeta-claro);
}

/* Header */

header {
  align-items: center;
  display: flex;
  /* gap: 224px; */
  justify-content: space-between;
  padding: 65px 160px;
}

header nav ul {
  display: flex;
  gap: 28px;
  list-style: none;
}

header nav a {
  color: var(--azul-oscuro);
  font-weight: 500;
  font-size: 13px;
}
header nav a:visited {
  color: var(--azul-oscuro);
}

header nav a:hover {
  color: var(--azul-oscuro-60);
}

/* Main */

.seccion-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 90px 160px;
}

.seccion-banner .banner {
  width: 540px;
  height: 462px;
  background-image: url(../img/padel-intro.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.seccion-banner div:last-child {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
}

.seccion-banner h1,
.seccion-banner p {
  text-align: right;
}

.seccion-banner h1 {
  font-size: 50px;
}

.seccion-banner p {
  color: var(--azul-oscuro);
}

.seccion-what-is-different {
  background-color: var(--gris-claro);
}

.seccion-what-is-different div:first-child {
  display: flex;
  justify-content: center;
  gap: 100px;
  background-color: var(--violeta);
  padding: 40px 0px;
}

.seccion-what-is-different div:first-child p,
.seccion-what-is-different div:first-child h2 {
  max-width: 470px;
  text-align: left;
  color: var(--blanco);
}

.seccion-what-is-different div:first-child h2 {
  font-size: 36px;
}

.seccion-what-is-different div:last-child {
  display: flex;
  padding: 50px 160px;
  gap: 45px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.seccion-what-is-different article {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 18px;
  max-width: 450px;
}

.seccion-what-is-different article:last-child {
  margin: auto;
}

.seccion-what-is-different article h5::before {
  color: var(--blanco);
  position: absolute;
  background-color: var(--violeta);
  border-radius: 50px;
  padding: 12px 25px;
  left: -90px;
  top: 0;
  transform: translateY(-25%);
}
.seccion-what-is-different article .tarjeta1::before {
  content: "01";
}

.seccion-what-is-different article .tarjeta2::before {
  content: "02";
}

.seccion-what-is-different article .tarjeta3::before {
  content: "03";
}

.seccion-what-is-different article h5,
.seccion-what-is-different article p {
  text-align: left;
}

.seccion-best-of-the-month {
  padding: 95px 0px 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seccion-best-of-the-month h2 {
  font-size: 40px;
}

.seccion-best-of-the-month div {
  display: flex;
  justify-content: center;
  margin-top: 110px;
}

.seccion-best-of-the-month article {
  background-color: var(--gris-claro);
  height: 220px;
  position: relative;
  padding: 50px 20px 20px;
  width: 445px;
  text-align: center;
}

.seccion-best-of-the-month article img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.seccion-best-of-the-month article h5 {
  margin-bottom: 20px;
}

.seccion-get-to-know-the-best {
  background-color: var(--violeta);
  padding: 64px 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seccion-get-to-know-the-best h2 {
  color: var(--blanco);
  font-size: 40px;

  max-width: 420px;
}

.seccion-get-to-know-the-best .enlace-estilo-boton {
  background-color: var(--blanco);
  color: var(--violeta);
}

/* Footer */

footer {
  padding: 50px 160px;
  background-color: var(--azul-grisaceo);
  gap: 3px;
}

footer div:first-child {
  display: flex;
  justify-content: space-between;
}

footer div:first-child .branding {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer div:first-child nav a {
  color: var(--blanco);
  font-size: 1rem;
}

footer div:first-child nav a:visited {
  color: var(--blanco);
}

footer div:first-child nav .redes-sociales {
  display: flex;
  gap: 13px;
  list-style: none;
}

footer div:first-child nav .redes-sociales a i {
  width: 20px;
}

footer div:first-child nav .enlaces-de-interes {
  columns: 2;
  column-gap: 100px;
  list-style: none;
}

footer div:first-child nav .enlaces-de-interes li {
  margin-bottom: 12px;
}

footer div:first-child nav .enlaces-de-interes li a {
  font-weight: 400;
}

footer div:first-child form {
  display: flex;
  gap: 10px;
  align-items: start;
}

footer div:first-child form input[type="email"],
footer div:first-child form input[type="submit"] {
  border: none;
  border-radius: 50px;
  padding: 12px 25px;
}

footer div:first-child form input[type="email"] {
  width: 200px;
  padding-left: 10px;
}

footer div:first-child form input[type="email"]::placeholder {
  font-size: 12.5px;
}

footer div:first-child form input[type="submit"] {
  background-color: var(--violeta);
  color: var(--blanco);
  cursor: pointer;
}

footer div:first-child form input[type="submit"]:hover {
  background-color: var(--violeta-claro);
}

footer div:last-child p {
  text-align: right;
  font-size: 12.5px;
}
